<div class="navbar">
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <div class="ui inverted secondary pointing menu">
                <a class="item logo" href="/">RoninN</a>
            </div>
    <!---->
    <% if user_signed_in? %>
            <div class="item"><%= link_to 'Inn', inn_path %></div>
            <div class="item"><%= link_to 'my profil', dash_path %></div>
            <div class="item"><%= link_to 'Log Out', destroy_user_session_path %></div>
    <%else%>
    <!---->
            <div class="right menu">
                <div class="item ui button">
                    <%= link_to 'Log In', new_user_session_path %>
                </div>
                <div class="item ui primary button">
                    <%= link_to 'Sign Up', new_user_registration_path %>
                </div>
            </div>
        </div>
    <%end%>
    <!---->
    </div>
</div>