<div class="ui container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <!--############################################################-->
        <h2 class="ui teal image header">
            <img src="assets/images/logo.png" class="image">
            <div class="content">
              Sign up to RoninN
            </div>
        </h2>
      <!--############################################################-->
        <form class="ui large form">
          <div class="ui stacked segment">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="ui error message"><%= devise_error_messages! %></div>

            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
            </div>

            <div class="actions ui fluid large teal submit button">
              <%= f.submit "Sign up" %>
            </div>
          </div><!--close class="ui stacked segment"-->
          <% end %>
        </form>
          <%= render "devise/shared/links" %>
    </div><!--close class="column"-->
  </div>
</div><!--close class="ui container"-->

